# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
/bluzelle/bluzelle.cbp

# Scott
workspace.xml
node_modules
.nyc_output
coverage
.DS_Store


yarn-error.log
